@import "../Styles/Common.scss";

#navigatorMenu {
    overflow: hidden;
    float: left;
    padding: 1em;
    position: fixed;
    top: 6.5em;
    left: 1em;
}

#navigatorMenuButton {
    color: $text_color;
    border: none;
}

.dark #navigatorMenuButton {
    color: $dark_text_color;
    border: none;
}

hover {
    background-color: $menu_item_background_hover;
}
