@page "/"

<AnchorNavigation JSRuntime="@JsRuntime" NavigationManager="@NavigationManager" />

<div class="sticky-top justify-content-around" id="navigatorMenu">
    <button id="navigatorMenuButton" type="button" 
    class="navbar-toggler-icon" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="oi oi-list-rich"></span>
    </button>
    <div class="collapse" id="collapsibleNavbar">
        <NavLink class="nav-link" href="#section1">
            Latest
        </NavLink>
        <NavLink class="nav-link" href="#section2">
            Top rated
        </NavLink>
        <NavLink class="nav-link" href="#section3">
            Most viewed
        </NavLink>
    </div>
</div>

<div class="container col-11 pt-5">
    <section id="section1">
        <h2 class="text-center">Latest</h2>
        @if (Projects != null)
        {
            <ProjectsOverview Projects="Projects"></ProjectsOverview>   
        }
        else
        {
            <div class="spinner-border"></div>
        }

    </section>


    <section id="section2">
        <h2 class="text-center">Top rated</h2>
        @if (Projects != null)
        {
            <ProjectsOverview Projects="Projects"></ProjectsOverview>   
        }
        else
        {
            <div class="spinner-border"></div>
        }

    </section>


    <section id="section3">
        <h2 class="text-center">Most viewed</h2>
        @if (Projects != null)
        {
            <ProjectsOverview Projects="Projects"></ProjectsOverview>   
        }
        else
        {
            <div class="spinner-border"></div>
        }

    </section>

</div>
