@page "/profile/{Username}"

<div class="container">
    @if (UserProfile != null)
    {
    <h3 class="row">Welcome @UserProfile.UserName!</h3>


        @if (UserProjects != null)
        {
            <ProjectsOverview Projects="UserProjects"></ProjectsOverview>   
        }
        else
        {
            <div class="spinner-border"></div>
        }

        @if (UserProfile.Id == AuthenticatedUser?.Id)
        {
        <AddProjectDialog @ref="@ProjectDialog" AddProjectCloseEvent="@AddDialogClosed" />

        <div class="row justify-content-center">
            <span class="oi oi-plus" @onclick="@ShowAddProjectDialog">Add Project</span>
        </div>
        }

    }
</div>