@page "/profile/{Username}"

@inject ThemeManager TM

<div class="container @TM.CurrentTheme">
    @if (UserProfile != null)
    {
        <h3 class="row">Welcome @UserProfile.UserName!</h3>

        @if(UserProfile.Id == AuthenticatedUser?.Id)
        {
            <div class="row justify-content-center">
                <span class="oi oi-plus" @onclick="@ShowAddProjectDialog"/>       
            </div>    

            <AddProjectDialog @ref="@ProjectDialog"/>
        }        
    }
</div>