@import "../Styles/Common.scss";

body {
    background: $background_gradient;
}

.header .dark {
    background: $dark_border_color
}

.mainbody {
    background: $background_gradient;
}

.dark .mainbody {
    background: $dark_background_gradient;
}

.header {
    background: $border_color;
}

.dark body {
    background: $dark_background_gradient;
}
