/*light*/
/*dark*/
body, html {
  background: linear-gradient(90deg, #ebebeb 10%, #ffffff 40%, #ffffff 60%, #ebebeb 90%);
  height: 100%; }

.dark body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.card {
  background: rgba(255, 255, 255, 0.35);
  color: #001f35; }

.dark .card {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff; }

.form-group {
  background: rgba(255, 255, 255, 0.35);
  color: #001f35; }

.dark .form-group {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff; }

.main, body {
  background: linear-gradient(90deg, #ebebeb 10%, #ffffff 40%, #ffffff 60%, #ebebeb 90%); }

.dark .main, body {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%); }
