@inherits LayoutComponentBase

<div class="container-fluid @ThemeManager.CurrentTheme">
    <div class="row header">
        <NavHeader />
    </div>

    <div class="row d-flex justify-content-center mainbody">
            @Body        
    </div>

    <div class="footer">
        Copyright Vaclav Pfudl
    </div>
</div>