@import "../Styles/Common.scss";

body {
    background: $background_gradient;
}

.header .dark {
    background: $dark_border_color
}

.mainbody {
    /*background: $background_gradient;*/
    background-image: url("./Images/baloons.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.dark .mainbody {
    /*background: $dark_background_gradient;*/

    background-image: url("./Images/vertical-night-sky-3c38e2irmokctrj1.jpg");
}

.header {
    background: $border_color;
}

.dark body {
    background: $dark_background_gradient;
}
