/*light*/
/*dark*/
body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.dark body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.card, card-body, card-header {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35; }

.dark .card, .dark card-body, .dark card-header {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff; }

.form-group {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35; }

.dark .form-group {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff; }

.modal-footer {
  border-radius: 0;
  bottom: 0px;
  position: absolute;
  width: 100%; }

h1, h2, h3, h4 {
  color: #001f35; }

.dark h1, h2, h3, h4 {
  color: #ffffff; }

.text-center {
  color: #001f35; }

.dark .text-center {
  color: #808080; }

.oi-plus {
  color: forestgreen; }

body {
  background: linear-gradient(90deg, #ebebeb 10%, #ffffff 40%, #ffffff 60%, #ebebeb 90%); }

.header .dark {
  background: #808080; }

.mainbody {
  /*background: $background_gradient;*/
  background-image: url("Images/baloons.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.dark .mainbody {
  /*background: $dark_background_gradient;*/
  background-image: url("Images/baloons.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  background: #808080; }

.dark body {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%); }
