/*light*/
/*dark*/
body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.dark body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.card, card-body, card-header {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35; }

.dark .card, .dark card-body, .dark card-header {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff; }

.form-group {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35; }

.dark .form-group {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff; }

.modal-footer {
  border-radius: 0;
  bottom: 0px;
  position: absolute;
  width: 100%; }

h1, h2, h3, h4 {
  color: #001f35; }

.dark h1, h2, h3, h4 {
  color: #ffffff; }

.text-center {
  color: #001f35; }

.dark .text-center {
  color: #808080; }

.oi-plus {
  color: forestgreen; }

.themeButton {
  background: linear-gradient(90deg, #ebebeb 10%, #ffffff 40%, #ffffff 60%, #ebebeb 90%);
  height: 26px;
  width: 26px;
  margin: 16px 20px 10px 0px;
  border-color: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  float: right; }

#loginMenu {
  margin: 0px 30px 0px 0px; }

.dark .themeButton {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 26px;
  width: 26px;
  margin: 16px 20px 10px 0px;
  border-color: linear-gradient(90deg, #ebebeb 10%, #ffffff 40%, #ffffff 60%, #ebebeb 90%); }

.logo, .header {
  border-bottom: solid #808080;
  align-items: center;
  z-index: 999; }

.dark .logo {
  border-bottom: solid #808080;
  align-items: center;
  z-index: 999; }

.dark .header {
  border-bottom: solid #808080; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  background-color: rgba(97, 126, 147, 0.5);
  color: #001f35;
  float: right;
  margin: 20px 20px 0px 0px; }

.dark li {
  background-color: rgba(36, 69, 91, 0.5);
  color: #ffffff;
  float: right;
  margin: 20px 20px 0px 0px; }

a {
  display: block;
  color: #001f35; }

a:hover {
  text-decoration: none; }

.dark a {
  display: block;
  color: #ffffff;
  background-color: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%); }

li:hover {
  background-color: #617e93;
  text-decoration: none; }

.logo {
  border-bottom: solid #808080;
  color: #001f35; }

.dark .logo {
  border-bottom: solid #808080;
  color: #ffffff; }

p, img {
  color: #001f35; }

.dark p, .dark img {
  color: #ffffff; }

.title {
  color: #001f35;
  font-size: 24px; }

.author {
  color: #001f35;
  font-size: 16px; }

.dark .title, .dark .author {
  color: #ffffff; }

.oi {
  color: #001f35; }

.dark .oi {
  color: #ffffff; }
