@import "../Styles/Common.scss";

.themeButton {
    background: $background_gradient;
    height: 26px;
    width: 26px;
    margin: 16px 20px 10px 0px;
    border-color: $dark_background_gradient;
    float: right;
}

#loginMenu{
    margin: 0px 30px 0px 0px;
}

.dark .themeButton {
    background: $dark_background_gradient;
    height: 26px;
    width: 26px;
    margin: 16px 20px 10px 0px;
    border-color: $background_gradient;
}

.logo, .header {
    border-bottom: solid $border_color;
    align-items: center;
    z-index: 999;
}

.dark .logo {
    border-bottom: solid $dark_border_color;
    align-items: center;
    z-index: 999;
}

.dark .header {
    border-bottom: solid $dark_border_color;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: $menu_item_background;
    color: $text_color;
    float: right;
    margin: 20px 20px 0px 0px;
}

.dark li {
    background-color: $dark_menu_item_background;
    color: $dark_text_color;
    float: right;
    margin: 20px 20px 0px 0px;
}

a {
    display: block;
    color: $text_color;
}

a:hover {
    text-decoration: none;
}

.dark a {
    display: block;
    color: $dark_text_color;
    background-color: $dark_background_gradient;
}

li:hover {
    background-color: $menu_item_background_hover;
    text-decoration: none;
}

.logo {
    border-bottom: solid $border_color;
    color: $text_color;
}

.dark .logo {
    border-bottom: solid $dark_border_color;
    color: $dark_text_color;
}

p, img {
    color: $text_color;
}

.dark p, .dark img {
    color: $dark_text_color;
}

.title {
    color: $text_color;
    font-size: 24px;
}

.author {
    color: $text_color;
    font-size: 16px;
}

.dark .title, .dark .author {
    color: $dark_text_color;
}

.oi {
    color: $text_color;
}

.dark .oi {
    color: $dark_text_color;
}
