/*light*/
/*dark*/
body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.dark body, html {
  background: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%);
  height: 100%; }

.mainbody .card, card-body, card-header {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35;
  flex: 0 1; }

.dark .card, .dark card-body, .dark card-header {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff;
  flex: 0 1; }

.form-group {
  background: rgba(255, 255, 255, 0.7);
  color: #001f35; }

.dark .form-group {
  background: rgba(33, 24, 69, 0.7);
  color: #ffffff; }

.modal-footer {
  border-radius: 0;
  bottom: 0px;
  position: absolute;
  width: 100%; }

h1, h2, h3, h4 {
  color: #001f35; }

.dark h1, h2, h3, h4 {
  color: #ffffff; }

.text-center {
  color: #001f35; }

.dark .text-center {
  color: #ffffff; }

.oi-plus {
  color: forestgreen; }
