@page "/"
<div class="container @ThemeManager.CurrentTheme">
    <div class="card align-content-center">
        <div class="card-header border-info">
            <h3 class="align-content-center">Box Shooter</h3>
        </div>

        <div class="card-body">
            <WebGLViewer ProjectName="BoxShooter"></WebGLViewer>
        </div>
    </div>
</div>

