@page "/WebGLViewer"
@using System.Runtime.Serialization
@using System.Text.Json
@using Microsoft.IdentityModel.Tokens

<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center">
            <canvas @ref=_unityCanvas style="height: 720px; background: #231F20;"></canvas>
        </div>
    </div>

    @if (ProgressUpdater.IsFinished)
    {
        <div class="row">
            <div class="bg-transparent progress col-12 d-flex" style="height: 25px;">
                <div id="progressBar" style="width: 100%" class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <span>✔</span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="bg-transparent progress col-12 d-flex" style="height: 25px;">
                <div id="progressBar" class="progress-bar bg-info progress-bar-striped" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    }
</div>