@inherits LayoutComponentBase

<div class="container-fluid main @ThemeManager.CurrentTheme">
    <div class="row main">
        <NavHeader />
    </div>

    <div class="row main">
        <div class="row main mt-3 p-0">
            @Body
        </div>
    </div>
</div>