/*light*/
/*dark*/
.card {
  background: rgba(255, 255, 255, 0.35);
  color: #001f35; }

.dark .card {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff; }

.themeButton {
  padding-top: 2rem;
  border-bottom: solid #808080; }

.dark .themeButton {
  padding-top: 2rem;
  border-bottom: solid #808080; }

.logo, .header {
  border-bottom: solid #808080;
  align-items: center;
  z-index: 999; }

.dark .logo {
  border-bottom: solid #808080;
  align-items: center;
  z-index: 999; }

.dark .header {
  border-bottom: solid #808080; }

ul {
  list-style-type: none;
  padding-top: 1em; }

li {
  float: left;
  background-color: rgba(97, 126, 147, 0.5);
  color: #001f35; }

.dark li {
  float: left;
  background-color: rgba(36, 69, 91, 0.5);
  color: #ffffff; }

a {
  display: block;
  color: #001f35; }

a:hover {
  text-decoration: none; }

.dark a {
  display: block;
  color: #ffffff;
  background-color: linear-gradient(90deg, #232323 10%, #001f35 40%, #001f35 60%, #232323 90%); }

li:hover {
  background-color: #617e93;
  text-decoration: none; }

.logo {
  border-bottom: solid #808080;
  color: #001f35; }

.dark .logo {
  border-bottom: solid #808080;
  color: #ffffff; }

p, img {
  color: #001f35; }

.dark p, .dark img {
  color: #ffffff; }

.title {
  color: #001f35;
  font-size: 24px; }

.author {
  color: #001f35;
  font-size: 16px; }

.dark .title, .dark .author {
  color: #ffffff; }

.oi {
  color: #001f35; }

.dark .oi {
  color: #ffffff; }
